<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.model.user.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="passwordHash" column="password_hash" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birthDate" column="birth_date" jdbcType="TIMESTAMP"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="experience" column="experience" jdbcType="INTEGER"/>
            <result property="biliCoin" column="bili_coin" jdbcType="INTEGER"/>
            <result property="vipLevel" column="vip_level" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,email,
        phone,password_hash,avatar,
        signature,gender,birth_date,
        level,experience,bili_coin,
        vip_level,status,created_at,
        updated_at,is_deleted
    </sql>
</mapper>
